.hding{

    font-size: 20px;

}

.bigContainer{

    margin-left: 350px;


}

.dropd{

    width: 2em;

}

.decoratorsList{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;

}

.decorators{
    margin-bottom: 100px;
}